[submodule "Protzel/vendor/spdlog"]
	path = Protzel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Protzel/vendor/GLFW"]
	path = Protzel/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Protzel/vendor/imgui"]
	path = Protzel/vendor/imgui
	url = https://github.com/SathvikHegde/imgui.git
	branch = docking
[submodule "Protzel/vendor/glm"]
	path = Protzel/vendor/glm
	url = https://github.com/g-truc/glm.git
